<p>Add a new address:</p>

<form action="/addresses" method="post">
  <label for="street">Street</label>
  <input id="street" name="street" type="text">

  <label for="city">City</label>
  <input id="city" name="city" type="text">

  <label for="state">State</label>
  <input id="state" name="state" type="text">

  <label for="zip">Zip Code</label>
  <input id="zip" name="zip" type="number">

  <button type="submit" class="btn btn-default">Add Address</button>
</form>
