<h1>Add a person</h1>

<p>Add a person here:</p>

<form action="/persons" method="post">
  <label for="name">Person name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Category</button>
</form>
